* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: #ffffff;
    margin: 0;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* Header */
header {
    position: relative;
    padding: 1rem 2rem;
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo img {
    height: 50px;
    width: 100%;
}

.navbar .links {
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    font-size: 1.2rem;
    color: #333;
}

.navbar .toggle_btn {
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.item img {
    width: 50%;
    height: 50%; 
    display: block;
    margin: 0 auto;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease;
}

.action_btn:hover {
    transform: scale(1.05);
}

.action_btn:active {
    transform: scale(0.95);
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container-fumo{
    margin-left: 100px;
}

.card {
    width: 20%; /* Set the card width to match the image */
    margin-right: 30px;
    margin-bottom: 50px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0; /* Change this to your desired background color */
    margin-top: 40%;
}

/* Dropdown menu */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 200px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 160px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Responsive navbar */
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}